.home {
  .mobile {
    
  }
  .tablet-desktop {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 20px;
 
  }

  @media screen and (min-width: 850px) {
    .mobile {
      display: none;
    }
  }

  @media screen and (max-width: 1500px) {
    .tablet-desktop {
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 850px) {
    .tablet-desktop {
      display: none;
    }
  }
}


