.table {
    width: 100%;
    border-collapse: collapse;
    .thead {
      .thead-tr {
        .th-1,
        .th-2 {
          width: 80px;
          /* padding-right: 25px; */
          /* border: 1px solid black; */
          margin-right: 20px;
          text-align: center;
        }

        .th-3 {
          width: 450px;
          /* border: 1px solid black; */
          text-align: start;
          padding-left: 20px;
        }
        .th-4 {
          width: 125px;
          /* border: 1px solid black; */
          
        }
      }
    }
    .tbody {
      height: 109px;
      width: 100%;
      
      .tbody-tr {
          /* background-color: #F5F5F5; */
          border-top: 1px solid #9A9A9A;
          ;
        .td-1,
        .td-2,
        .td-4 {
          text-align: center;
        }
        .td-3 {
          .playersContainer {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            .players {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
          }
        }
      }
      .tbody-tr:nth-child(odd){
          background-color: #F5F5F5;
      }
      .tbody-tr:nth-child(even){
          background-color: white;
      }
    }
  }